<h1
  class="fixed bottom-[40px] right-[24px] z-10 w-[75px] lg:bottom-[44px] lg:right-[44px] lg:w-[99px]"
>
  <a href="/">
    <svg
      class="h-auto w-full"
      viewBox="0 0 75 10"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M4.62875 9H6.16475L7.70075 1.716H12.9448L13.1848 0.599999H1.16075L0.920751 1.716H6.16475L4.62875 9ZM19.6991 9.192C22.6871 9.192 24.9911 8.244 24.9911 6.348C24.9911 2.976 15.8471 5.316 15.8471 3.048C15.8471 2.136 17.2271 1.488 19.3511 1.488C22.0271 1.488 23.6831 2.316 24.0071 3.816H25.5311C25.2071 1.644 22.9871 0.408 19.4111 0.408C16.2311 0.408 14.2751 1.548 14.2751 3.276C14.2751 6.684 23.4191 4.284 23.4191 6.564C23.4191 7.524 22.0631 8.112 19.8191 8.112C17.0471 8.112 15.5831 7.368 15.3191 5.808H13.6991C14.0471 8.052 16.0751 9.192 19.6991 9.192ZM32.8251 9.192C35.9331 9.192 38.4171 7.524 39.0291 4.608L39.8811 0.599999H38.3931L37.5771 4.416C37.0731 6.792 35.1891 8.004 32.9211 8.004C30.7251 8.004 29.1531 6.984 29.1531 4.98C29.1531 4.68 29.1891 4.356 29.2611 4.008L29.9811 0.599999H28.4451L27.7251 3.972C27.6411 4.368 27.6051 4.752 27.6051 5.112C27.6051 7.704 29.7411 9.192 32.8251 9.192ZM40.5553 9H42.0793L42.4153 7.38L46.4113 4.86L49.7473 9H51.5473L47.6233 4.128L53.2753 0.599999H51.0673L42.7513 5.808L43.8673 0.599999H42.3433L40.5553 9ZM53.5737 9H55.0977L56.8857 0.599999H55.3617L53.5737 9ZM57.6152 9H59.1392L59.9192 5.292H68.0072L67.2272 9H68.7512L70.5272 0.599999H69.0032L68.2472 4.164H60.1592L60.9152 0.599999H59.3912L57.6152 9ZM71.2544 9H72.7784L74.5664 0.599999H73.0424L71.2544 9Z"
        fill="white"
        class="group-data-[open=open]/menu:fill-tsukihi-black"
      ></path>
    </svg>
  </a>
</h1>
